<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.secondtest"/>
      <class name="com.test.exceptionTimeouttest"/>
      <class name="com.test.TestngfeatureTest"/>
      <class name="com.test.Downloadconcept"/>
      <class name="com.test.invocationcounttest"/>
      <class name="com.test.Gogletitletest"/>
      <class name="com.test.testngbasics"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
